.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    display: inline-block;
    padding: 16px;
  }
  
  div {
    padding: 5px;
      text-align: left;
      font-size: 18px;
    }
  button {
    border: 1px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
  }
  .heart {
      background-color: white;
      color: red;
  }
  .edit {
    background-color: white;
    color: black;
  }
  .delete {
      background-color: white;
      color: black;
  }
  a {
    display: inline-block;
    font-size: 18px;
    color: black;
    text-align: left;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }